@import "common/colors";
@import "common/displays";

.p-auth {
  &-close {
    &-box {
      position: absolute;
      z-index: 8;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 20px;
      right: 14px;
      width: 24px;
      height: 24px;
      @media (max-width: $mobileMax) {
        right: 10px;
        top: 12px;
      }
      &:hover {
        cursor: pointer;
      }
    }
    width: 16px;
    height: 16px;
    @media (max-width: $mobileMax) {
      width: 24px;
      height: 24px;
    }
  }
  &-info {
    position: relative;
    box-sizing: border-box;
    background-color: white;
    width: 570px;
    height: 100%;
    border-radius: 20px 0 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 34px;
    padding-bottom: 30px;
    @media (max-width: $mobileMax) {
      width: 100%;
      padding: 48px 16px 32px 16px;
      border-radius: 20px;
      align-items: flex-start;
    }
    .p-top {
      &-logo {
        &-box {
          height: 40px;
          @media (max-width: $mobileMax) {
            height: 32px;
            width: 100%;
            justify-content: center;
          }
        }
        &-img {
          width: 16px;
          height: 23.43px;
          @media (max-width: $mobileMax) {
            width: 12.51px;
            height: 18.29px;
          }
        }
        &-text {
          color: black;
          font-size: 26px;
          @media (max-width: $mobileMax) {
            font-size: 20.48px;
          }
          &-box {
            background-color: $color-base;
          }
        }
      }
    }
    &-first {
      display: flex;
      flex-direction: column;
      @media (max-width: $mobileMax) {
        width: 100%;
      }
    }
    &-second {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 300px;
      @media (max-width: $mobileMax) {
        width: 100%;
      }
      &-sent {
        display: flex;
        align-items: flex-end;
        .sent-text {
          margin-bottom: 47px;
          font-size: 18px;
          font-weight: 600;
          color: $color-base;
          &-error {
            font-size: 14px;
            color: $color-status-error;
          }
        }
      }
    }
  }
  &-fields {
    margin-top: 67px;
    width: 287px;
    @media (max-width: $mobileMax) {
      margin-top: 32px;
    }
    &-item {
      position: relative;
      display: flex;
      flex-direction: column;
      margin-bottom: 32px;
    }
    &-label {
      font-size: 12px;
      color: black;
      opacity: 0.6;
      margin-bottom: 12px;
    }
    &-input {
      outline: none;
      border: none;
      border-bottom: 1px solid $color-block-2;
      padding-bottom: 4px;
      font-size: 12px;
      color: black;
      &::placeholder {
        color: $color-block-2;
      }
    }
    &-error {
      position: absolute;
      bottom: -14px;
      font-size: 12px;
      color: $color-status-error;
    }
  }
  &-tariff {
    width: 287px;
    &-item {
      &:not(last-child) {
        margin-bottom: 16px;
      }
    }
    &-label {
      font-size: 12px;
      color: black;
      opacity: 0.6;
    }
    .a-radio {
      display: flex;
      align-items: center;
      &:hover {
        cursor: pointer;
      }
      &.disabled {
        &:hover {
          cursor: default;
        }
      }
      &-button {
        box-sizing: border-box;
        width: 12px;
        height: 12px;
        border: 1px solid $color-block-2;
        border-radius: 50%;
        margin-right: 9px;
        display: flex;
        justify-content: center;
        align-items: center;
        &-active {
          width: 8px;
          height: 8px;
          background-color: $color-block-2;
          border-radius: 50%;
        }
      }
      &-text {
        font-size: 16px;
        color: $color-block-2;
      }
      &.active {
        .a-radio-button {
          border: 1px solid $color-base;
        }
        .a-radio-button-active {
          background-color: $color-base;
        }
        .a-radio-text {
          color: black;
        }
      }
    }
  }
  &-submit {
    &-button {
      width: 285px;
      height: 50px;
      margin-bottom: 8px;
    }
    &-agreement {
      display: flex;
      width: 300px;
      //display: grid;
      //grid-template-columns: 26px auto;
      //align-items: center;
      //&:hover {
      //  cursor: pointer;
      //}
      .p-agreement-checkbox {
        width: 18px;
        height: 18px;
        border: 1px solid $color-block-2;
        border-radius: 2px;
        margin-right: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        &-active {
          width: 14px;
          height: 14px;
          border-radius: 2px;
          background-color: $color-base;
        }
        &.active {
          border: 1px solid $color-base;
        }
      }
      .p-agreement-text {
        text-align: center;
        font-size: 12px;
        color: rgb(0, 0, 0, .6);
        &-link {
          color: $color-base;
          &:hover {
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
    }
  }
  &-go {
    background-color: $color-base;
    width: 100%;
    border-radius: 0 20px 20px 0;
    display: flex;
    justify-content: center;
    @media (max-width: $mobileMax) {
      background-color: white;
      padding: 16px;
      border-radius: 20px;
    }
    &-text {
      position: absolute;
      top: 140px;
      font-weight: 900;
      font-size: 72px;
      letter-spacing: 0.01em;
      color: #FFFFFF;
      opacity: 0.3;
      @media (max-width: $mobileMax) {
        font-size: 46px;
        color: $color-base;
        top: 201px;
        opacity: .1;
      }
    }
    &-img {
      position: absolute;
      z-index: 10;
      bottom: 20px;
      @media (max-width: $mobileMax) {
        width: 195.43px;
        height: 235.61px;
      }
    }
    &-second-sent {
      text-align: center;
    }
    &-sent-message {
      margin-top: 75px;
      .sent-text {
        font-size: 24px;
        color: black;
        &-bold {
          font-weight: 900;
          color: $color-base;
          &-error {
            color: $color-status-error;
          }
        }
      }
    }
  }
}