@keyframes sideMenuFadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes sideMenuFadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
@mixin sideMenuAnimation($fade) {
  -webkit-animation: $fade .4s;
  -moz-animation: $fade .4s;
  -ms-animation: $fade .4s;
  -o-animation: $fade .4s;
  animation: $fade .4s;

}

@keyframes frontFlipDown {
  0% {
    transform: perspective(240px) rotateX(0deg);
  }
  100% {
    transform: perspective(240px) rotateX(-180deg);
  }
}
@keyframes backFlipDown {
  0% {
    transform: perspective(240px) rotateX(180deg);
  }
  100% {
    transform: perspective(240px) rotateX(0deg);
  }
}
@keyframes frontFlipUp {
  0% {
    transform: perspective(240px) rotateX(0deg);
  }
  100% {
    transform: perspective(240px) rotateX(180deg);
  }
}
@keyframes backFlipUp {
  0% {
    transform: perspective(240px) rotateX(-180deg);
  }
  100% {
    transform: perspective(240px) rotateX(0deg);
  }
}

/* LOADER */
.grow-loader { transition: all .3s ease-in-out; }
.grow-loader-active { transform: scale(2); }