@import "../common/colors";
@import "../common/displays";

.hb-integration {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 525px;
  width: 100%;
  background-color: transparent;
  &-mobile {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: transparent;
  }
  &-bg {
    position: absolute;
    top: 146px;
    left: 0;
    background-color: $color-base;
    height: 265px;
    width: 100%;
    @media (max-width: $mobileMax) {
      top: 75px;
      height: 673px;
    }
  }
  &-img {
    width: 302px;
    height: 495px;
    margin-bottom: -20px;
    @media (max-width: $mobileMax) {
      width: 169.61px;
      height: 278px;
      position: absolute;
      bottom: -40px;
      margin-bottom: 0;
    }
  }
  &-info {
    position: relative;
    align-items: center;
    display: flex;
    width: 798px;
    height: 100%;
    &1 {
      position: absolute;
      top: 0;
      right: 0;
      text-align: right;
      @media (max-width: $mobileMax) {
        position: relative;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
      }
      &__text {
        &-big {
          font-weight: 900;
          font-size: 72px;
          line-height: 145%;
          letter-spacing: 0.01em;
          color: #00A6ED;
          opacity: 0.2;
          @media (max-width: $mobileMax) {
            font-size: 36px;
          }
        }
        &-small {
          font-size: 24px;
          line-height: 29px;
          letter-spacing: 0.01em;
          color: #000000;
          margin-top: -30px;
          margin-right: -7px;
          @media (max-width: $mobileMax) {
            font-size: 16px;
            margin-top: -20px;
            margin-right: 0;
          }
        }
      }
    }
    &2 {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 265px;
      @media (max-width: $mobileMax) {
        height: 675px;
      }
      &__text {
        font-size: 36px;
        color: #FFFFFF;
        line-height: 100%;
        @media (max-width: $mobileMax) {
          text-align: center;
        }
        &-big {
          font-weight: 900;
        }
        &-box {
          margin-bottom: 30px;
          margin-top: 55px;
          @media (max-width: $mobileMax) {
            margin-top: 32px;
            margin-bottom: 32px;
          }
        }
      }
      &-icons {
        display: flex;
        justify-content: space-between;
        height: 40px;
        @media (max-width: $mobileMax) {
          width: 110px;
          height: 100%;
          &2 {
            display: flex;
            flex-direction: column;
          }
        }
        &__item {
          @media (max-width: $mobileMax) {
            width: 40px;
            height: 40px;
            &:not(:last-child) {
              margin-bottom: 30px;
            }
          }
        }
      }
    }
    &3 {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
  }
}