@import "../common/colors";
@import "../common/displays";

.home-block7 {
  display: flex;
  justify-content: space-between;
  background-color: $color-base;
  @media (max-width: $mobileMin) {
    flex-direction: column;
    justify-content: flex-start;
  }
  &-left {
    margin-top: 60px;
    width: 265px;
    margin-right: 115px;
    @media (max-width: $mobileMin) {
      margin-top: 32px;
    }
    .p-banner-stat-item {
      margin-top: 64px;
      @media (max-width: $mobileMin) {
        margin-top: 32px;
        margin-left: calc(48px - 16px);
      }
    }
    .p-banner-stat-item-first {
      font-size: 144px;
      font-weight: 900;
    }
    .p-banner-stat-item-second {
      font-size: 24px;
    }
  }
  &-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 167px;
    margin-bottom: 150px;
    width: 100%;
    @media (max-width: $mobileMin) {
      margin-top: 64px;
      justify-content: flex-start;
      margin-bottom: 64px;
    }
    &-descr {
      color: white;
      font-size: 24px;
      @media (max-width: $mobileMin) {
        font-size: 16px;
        text-align: center;
      }
      &-big {
        font-weight: 900;
      }
      &:not(:last-child) {
        margin-bottom: 60px;
        @media (max-width: $mobileMin) {
          margin-bottom: 64px;
        }
      }
    }
  }
}