@import "../common/colors";
@import "../common/displays";

.home-block8 {
  display: flex;
  flex-direction: column;
  padding-top: 200px;
  padding-bottom: 200px;
  @media (max-width: $mobileMax) {
    padding-top: 100px;
    padding-bottom: 150px;
  }
  .subscribe {
    &-send {
      &-box {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        @media (max-width: $mobileMax) {
          flex-direction: column;
          justify-content: flex-start;
        }
      }
      &-text {
        color: black;
        font-size: 24px;
        width: 377px;
        @media (max-width: $mobileMax) {
          font-size: 18px;
          width: 100%;
          text-align: center;
        }
        &-bold {
          font-weight: bold;
        }
      }
      &-input {
        margin-left: 24px;
        outline: none;
        border: none;
        &::placeholder {
          color: rgb(0, 0, 0, .3);
        }
        font-size: 18px;
        color: black;
        padding-right: 10px;
        &-box {
          position: relative;
          box-sizing: border-box;
          display: grid;
          grid-template-columns: auto 96px;
          align-items: center;
          width: 349px;
          height: 50px;
          border: 2px solid $color-base;
          border-radius: 30px;
          @media (max-width: $mobileMax) {
            grid-template-columns: auto 90px;
            width: 328px;
            margin-top: 32px;
          }
        }
        &-button {
          position: relative;
          box-sizing: border-box;
          background-color: $color-base;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 94px;
          height: 42px;
          margin-right: 2px;
          border-radius: 30px;
          @media (max-width: $mobileMax) {
            width: 88px;
            height: 42px;
          }
          &:hover {
            cursor: pointer;
            background-color: $color-head;
            span {
              color: white;
            }
          }
          &.disabled {
            background-color: rgb(0, 0, 0, .1) !important;
            .p-button-text {
              color: white !important;
            }
            &:hover {
              cursor: default;
            }
          }
        }
        &-message {
          position: absolute;
          bottom: -17px;
          margin-left: 24px;
          font-size: 12px;
        }
        &-error {
          color: $color-status-error;
        }
        &-success {
          color: $color-status-success;
        }
      }
      &-loader {
        position: absolute;
        right: 10px;
        width: 20px;
        height: 20px;
      }
    }
    &-descr {
      font-size: 36px;
      font-weight: 300;
      line-height: 100%;
      &2 {
        width: 825px;
      }
      @media (max-width: $mobileMax) {
        margin-top: 100px;
        font-size: 24px;
        text-align: center;
        width: 100%;
      }
      &-bold {
        font-weight: bold;
      }
      &-blue {
        font-weight: bold;
        color: $color-base;
      }
      &-astro {
        display: flex;
        margin-top: 200px;
        &-team {
          width: 343.81px;
          height: 277.43px;
          margin-right: 57px;
          margin-left: -120px;
        }
      }
      &-box {
        display: flex;
        flex-direction: column;
      }
    }
    &-photo {
      width: 350px;
      height: 362px;
      margin-bottom: 8px;
      @media (max-width: $mobileMax) {
        width: 100%;
        height: auto;
        margin-bottom: 16px;
      }
      &-content {
        display: flex;
        justify-content: space-between;
        margin-top: 100px;
        @media (max-width: $mobileMax) {
          flex-direction: column;
          margin-top: 64px;
        }
      }
      &-box {
        display: flex;
        flex-direction: column;
        margin-bottom: 32px;
      }
      &-name {
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 145%;
        letter-spacing: 0.01em;
        color: #000000;
        opacity: 0.6;
        text-align: right;
        @media (max-width: $mobileMax) {
          text-align: center;
        }
      }
    }
  }
}
.home-block-last {
  justify-content: flex-start !important;
  .p-button-rounded1 {
    width: 255px;
    height: 50px;
  }
}