@import "../common/colors";
@import "../common/displays";

.home-block8 {
  display: flex;
  flex-direction: column;
  padding-top: 200px;
  padding-bottom: 200px;
  @media (max-width: $mobileMin) {
    padding-top: 100px;
    padding-bottom: 150px;
  }
  .subscribe {
    &-send {
      &-box {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        @media (max-width: $mobileMin) {
          flex-direction: column;
          justify-content: flex-start;
        }
      }
      &-text {
        color: black;
        font-size: 24px;
        width: 377px;
        @media (max-width: $mobileMin) {
          font-size: 18px;
          width: 100%;
          text-align: center;
        }
        &-bold {
          font-weight: bold;
        }
      }
      &-input {
        margin-left: 24px;
        outline: none;
        border: none;
        &::placeholder {
          color: rgb(0, 0, 0, .3);
        }
        font-size: 18px;
        color: black;
        padding-right: 10px;
        &-box {
          position: relative;
          box-sizing: border-box;
          display: grid;
          grid-template-columns: auto 96px;
          align-items: center;
          width: 349px;
          height: 50px;
          border: 2px solid $color-base;
          border-radius: 30px;
          @media (max-width: $mobileMin) {
            grid-template-columns: auto 90px;
            width: 328px;
            margin-top: 32px;
          }
        }
        &-button {
          box-sizing: border-box;
          background-color: $color-base;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 94px;
          height: 42px;
          margin-right: 2px;
          border-radius: 30px;
          @media (max-width: $mobileMin) {
            width: 88px;
            height: 42px;
          }
          &:hover {
            cursor: pointer;
            background-color: $color-head;
            span {
              color: white;
            }
          }
          &.disabled {
            background-color: rgb(0, 0, 0, .1) !important;
            .p-button-text {
              color: white !important;
            }
            &:hover {
              cursor: default;
            }
          }
        }
        &-error {
          position: absolute;
          bottom: -16px;
          margin-left: 24px;
          font-size: 10px;
          color: $color-status-error;
        }
      }
      &-loader {
        position: absolute;
        right: 10px;
        width: 20px;
        height: 20px;
      }
    }
    &-descr {
      margin-top: 200px;
      font-size: 36px;
      width: 854px;
      &2 {
        width: 825px;
      }
      @media (max-width: $mobileMin) {
        margin-top: 100px;
        font-size: 24px;
        text-align: center;
        width: 100%;
      }
      &-bold {
        font-weight: bold;
      }
      &-blue {
        font-weight: bold;
        color: $color-base;
      }
    }
    &-photo {
      width: 350px;
      height: 362px;
      margin-bottom: 8px;
      @media (max-width: $mobileMin) {
        width: 100%;
        height: auto;
        margin-bottom: 16px;
      }
      &-content {
        display: flex;
        justify-content: space-between;
        margin-top: 100px;
        @media (max-width: $mobileMin) {
          flex-direction: column;
          margin-top: 64px;
        }
      }
      &-box {
        display: flex;
        flex-direction: column;
        margin-bottom: 32px;
      }
      &-name {
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 145%;
        letter-spacing: 0.01em;
        color: #000000;
        opacity: 0.6;
        text-align: right;
        @media (max-width: $mobileMin) {
          text-align: center;
        }
      }
    }
  }
}